<div class="request-wrapper" *ngIf="form">
  <h2 class="text-center">Заявка на управление страницей</h2>

  <form class="form" [formGroup]="form" (submit)="onSubmit($event)" *ngIf="!manageRequest">
    <fieldset class="form-group" required>
      <label for="name">ФИО</label>
      <input id="name" formControlName="name" type="text" placeholder="ФИО" class="form-control" auto-focus-it
             name="name">
    </fieldset>
    <fieldset class="form-group">
      <label for="position">Должность</label>
      <input id="position" formControlName="position" type="text" placeholder="Должность" class="form-control"
             name="position">
    </fieldset>
    <fieldset class="form-group" required>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" placeholder="Email" class="form-control" name="email">
    </fieldset>
    <fieldset class="form-group">
      <label for="phone">Телефон</label>
      <input id="phone" formControlName="phone" type="text" placeholder="Телефон" class="form-control" name="phone">
    </fieldset>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Отправить</button>
  </form>
  <div *ngIf="manageRequest">
    <table class="table table-striped table-bordered">
      <tr>
        <td>ФИО</td>
        <td>{{manageRequest.name}}</td>
      </tr>
      <tr>
        <td>Должность</td>
        <td>{{manageRequest.position}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{manageRequest.email}}</td>
      </tr>
      <tr>
        <td>Телефон</td>
        <td>{{manageRequest.phone}}</td>
      </tr>
    </table>
    <div class="pay-block alert alert-info text-sm-center">
      <div class="pay-text">Единоразовый сбор за проверку заявки и подключение <strong>{{SUM}}</strong> рублей.
        <br/>
      </div>
      <div>
        <button class="btn btn-primary" (click)="onPay()">Оплатить</button>
        <button class="btn btn-link" (click)="onCancel()">Отменить</button>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="jumbotron">
    <h2 class="display-5 text-center">Новый личный кабинет</h2>
    <ul class="list">
      <li>основные возможности <strong>бесплатны навсегда</strong></li>
      <li>редактирование и защита страницы от изменений</li>
      <li>удаление отзывов (возможно в течение 30 дней)</li>
      <li>уведомления о новых отзывах, фото и других событиях страницы</li>
      <li>ответы на отзывы, дополнительные проверки авторов отзывов</li>
      <li>управление логотипом и фотографиями</li>
      <li>мгновенное добавление других администраторов страницы</li>
      <li>служба поддержки для организаций</li>
      <li>скрытие страницы</li>
      <li>и многое другое</li>
    </ul>
    <hr class="m-y-2">
    <p>
      <a routerLink="/s/Услуги">Подробнее</a>
    </p>
  </div>
</div>
