@import "../../../../../css/variables";

:host {
  display: block;
  margin-top: 1rem;
  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    display: flex;
    align-items: center;
    & > * {
      width: 50%;
    }
    .request-wrapper {
      margin-right: 0.5rem;
    }
    .jumbotron {
      margin-left: 0.5rem;
    }
  }
}

form {
  max-width: 35rem;
  margin: auto;
}

.table {
  margin: 0.5rem auto;
  max-width: 30rem;
  border: 1px solid $gray-light;
  td {
    border: none;
  }
}

.jumbotron {
  margin-top: 1rem;

  @media (max-width: map-get($grid-breakpoints, 'xl')-1) {
    padding: 2rem 1rem;
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')-1) {
    padding: 0.5rem;
  }
}
