<form class="form" [ngFormModel]="form" (submit)="onSubmit($event)" [class.compact]="compact" [class.active]="active">
  <div class="input-container">
    <div class="user-avatar hidden-xs-down">
      <img src="{{userService.currentUser.photo}}" class="img-35">
    </div>
    <fieldset class="form-group">
      <textarea ngControl="content" placeholder="Новый комментарий" class="form-control" rows="{{compact ? 1 : 2}}"
                (focus)="onFocus()" (blur)="onBlur()"
                autosize></textarea>
    </fieldset>
  </div>

  <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-sm" [disabled]="disabled"
          *ngIf="!compact || active">{{newComment ?
    'Сказать' : 'Сохранить'}}
  </button>
  <button type="button" class="btn btn-link btn-sm" *ngIf="!newComment" (click)="updateCanceled.emit(true)">Отменить
  </button>
</form>
