<div class='row'>
  <div class="col-1">
    <subscribe [targetId]="subjectId" [iconMode]="true"></subscribe>
  </div>
  <div class='col-1'>
    <img class='avatar' [src]="avatar"/>
  </div>
  <div class='col-8'>
    <a [routerLink]="getRouterLink()">
      <h4 class='sub-title'>{{displayName}}</h4>
    </a>
    <span *ngIf="user">
      <span class="counter" titile='Количество статей'>
        <i class="fa fa-book"></i> {{user.storiesNumber}}
      </span>
      <span class="counter" titile='Количество лайков'>
        <i class="fa fa-thumbs-o-up"></i> {{user.likesNumber}}
      </span>
    </span>
  </div>
</div>
