<div>
  <div class="row" *ngFor="let object of objects">
    <div class='col-3'>
      <img class='avatar' [src]="object.flap.avatar ? object.flap.avatar : '/assets/img/no-image.png'"/>
    </div>
    <div class='col-3'>
      <span class='hidden-sm-down'>Рейтинг:</span>
      <i class='fa fa-star hidden-md-up'></i>
      <strong>{{asFObject(object).getRating() | fixed : 1}}</strong>/10
      <br>
      <span class='hidden-sm-down'>Отзывы:</span>
      <i class='fa fa-reply hidden-md-up'></i>
      <strong>{{asFObject(object).getReviewsNumber()}}</strong>
    </div>
    <div class='col-6'>
      <a [routerLink]="getRouterLink(object)">
        <h4 class='object-title'>{{object.title}}</h4>
      </a>
      <span class='object-info'>
        <span>
          {{object.mainDomain}}
        </span>
        <span>
          / {{object.region}}
        </span>
      </span>
    </div>
  </div>
</div>
