<div>
  <div class="row" *ngFor="let object of objects">
    <div class='col-xs-3'>
      <img class='avatar' [src]="object.flap.avatar ? object.flap.avatar : './no-image.png'"/>
    </div>
    <div class='col-xs-8'>
      <a [routerLink]="getRouterLink(object)">
        <h4 class='object-title'>{{object.title}}</h4>
      </a>
      <span class='object-info'>
        <span>
          {{object.mainDomain}}
        </span>
        <span>
          / {{object.region}}
        </span>
      </span>
    </div>
  </div>
</div>
