<div class="btn-group" role="group">
  <button (click)="findAll()" type="button" id="storyId" [ngClass]="{'active': subjectTypes.length > 1 }"  class="btn btn-info btn-sm navbar-btn no-out">Все</button>
  <button (click)="findStories()" type="button" id="storyId" [ngClass]="{'active': type == 'Story'}"  class="btn btn-info btn-sm navbar-btn no-out">Статьи</button>
  <button (click)="findComments()" type="button" id="commentId" [ngClass]="{'active': type == 'Comment'}" class="btn btn-info btn-sm navbar-btn no-out">Комментарии</button>
</div>
<div class="alert alert-info m-t-1" *ngIf="(fanbase.length === 0) && loading">Еще нет лайков</div>
<div *ngIf="!loading" class="text-center m-t-1">
  <img src="/assets/img/loading.gif">
</div>
<div *ngIf="loading">
  <div *ngFor="let fb of fanbase">
    <div class="fanbase m-t-1" *ngIf="fb">
      <div class="fanbase-header">
        <i class="time">{{fb.created | amTimeAgo}}</i>
        <span class="heart"><i class="fa fa-heart-o"></i></span>
      </div>
      <div class="fanbase-who">
        <div class="media">
          <user-avatar [id]="fb.fan.id" class="mr-1"></user-avatar>
          <div class="media-body">
            <user-link [id]="fb.fan.id"></user-link>
            <div class="time">
              Оценил(-а)
            </div>
          </div>
        </div>
      </div>
      <div class="fanbase-content">
        <div [ngSwitch]="fb.type">
          <div *ngSwitchCase="'Story'">
            <a [routerLink]="['/s', fb.content.story.slug]"><h5>{{fb.content.story.title}}</h5></a>
            <p>{{fb.content.story.shortText}}</p>
          </div>
          <div *ngSwitchCase="'Comment'">
            <p>{{fb.content.comment.shortInline}}</p>
          </div>

        </div>
      </div>
      <div class="fanbase-footer">
        <div class="media">
          <user-avatar [id]="fb.author.id" class="mr-1"></user-avatar>
          <div class="media-body">
            <user-link [id]="fb.author.id"></user-link>
             <div [ngSwitch]="fb.type">
              <div *ngSwitchCase="'Story'" class="time">
                Aвтор
                <span><a [routerLink]="['/s', fb.content.story.slug]">статьи</a></span>
              </div>
               <div *ngSwitchCase="'Comment'" class="time">
                Aвтор комментария к
                <span><a [routerLink]="['/s', fb.content.subStory.slug]">статьe</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pages > 1" role="group" class="m-t-1">
    <button (click)="turnPage(current_page-1)" [disabled]="current_page == 1" class="btn btn-info btn-sm no-out">
      <span>Предыдущая</span>
    </button>
    <span>{{current_page}}/{{pages}}</span>
    <button (click)="turnPage(current_page+1)" [disabled]="current_page == pages" class="btn btn-info btn-sm no-out">
      <span>Следующая</span>
    </button>
  </div>
</div>

