<div class='container'>
<div class="poll-container" *ngIf="poll">
  <div class="user-info">
    <user-avatar [id]="poll.userId"></user-avatar>
    <user-link [id]="poll.userId"></user-link>
    <post-actions class="active pull-right" [actions]="actions" [model]="poll" (actionClicked)="actionEvent($event)"
                  *ngIf="acl.can('Poll.write', poll)"></post-actions>
  </div>
  <div class="poll-content">
    <h2>
      {{poll.title}}
    </h2>
    <blockquote class='blockquote' *ngIf="isProposal">
      {{poll.description}}
    </blockquote>
    <div class="alert alert-success" *ngIf="!inProgress() && !hasFinished()">
      {{isVoting ? "Голосование" : "Опрос"}} начнется {{poll.openDate | date: "dd.MM.yyyy"}}
    </div>
    <div class="alert alert-danger" *ngIf="!canVote()">
      К сожалению вы не можете участвовать в этом {{poll.type==="voting" ? "голосовании" : "опросе"}}. <br>
      Для голосования необходимо иметь как минимум {{poll.type==="voting" ? 3 : 2}} уровень.
    </div>
    <div class="alert alert-danger" *ngIf="!canBeCandidate() && isVoting">
      К сожалению вы не можете зарегистрироваться как кандидат. <br>
      Для регистрации необходимо иметь как минимум 4 уровень.
    </div>
    <div class="" *ngIf="canBeCandidate() && !isCandidate() && !inProgress() && !hasFinished()">
      <button class='btn btn-success col-xs-12' (click)="addMeAsCandidate()"><i class='fa fa-person'></i>Добавить свою кандидатуру</button>
    </div>

    <ul class="answer-list" *ngIf="canVote() && inProgress() && !iHadVoted">
      <li class="answer-list__item col-xs-6 col-sm-6 col-md-4 col-lg-4" *ngFor="let answer of poll.answers">
        <a class='btn btn-vote' (click)="vote(answer)" *ngIf="isPoll || isProposal">
          {{answer}}
        </a>
        <a class='btn btn-vote' (click)="vote(answer)" *ngIf="isVoting">
          <user-avatar [id]="answer"></user-avatar>
          <user-link [id]="answer"></user-link>
        </a>
      </li>
    </ul>

    <ul class="result-list" *ngIf="!canVote() || iHadVoted"> {{ isVoting ? 'Кандидаты':'Варианты ответов'}}: {{ isPoll || (poll.answers.length > 0) ? "" : "пока не зарегистрированы"}}
      <li class="result-list__item" *ngFor="let answer of poll.answers">
        <div *ngIf="isPoll || isProposal">
          {{answer}} - {{results[answer] ? results[answer].length : 0}} голосов
        </div>
        <div *ngIf="isVoting">
          <user-avatar [id]="answer"></user-avatar>
          <user-link [id]="answer"></user-link>
        </div>
      </li>
    </ul>
  </div>
  <comments-short-list [subject]="poll">
  </comments-short-list>
</div>
</div>
