<div class="poll-container" *ngIf="poll">
  <div class="user-info">
    <user-avatar [id]="poll.userId"></user-avatar>
    <user-link [id]="poll.userId"></user-link>
    <post-actions class="active pull-right" [actions]="actions" [model]="poll" (actionClicked)="actionEvent($event)"
                  *ngIf="acl.can('Poll.write', poll)"></post-actions>
  </div>
  <div class="poll-content">
    <h2>
      <a [routerLink]="['/p','polls',poll.id]">{{poll.title}}</a>
    </h2>

    <div class="alert alert-success" *ngIf="!inProgress() && !hasFinished()">
      {{isVoting ? "Голосование" : "Опрос"}} начнется {{poll.openDate | date: "dd.MM.yyyy"}}
    </div>
    <div class="alert alert-success" *ngIf="inProgress() && !hasFinished()">
      {{isVoting ? "Голосование" : "Опрос"}} идёт.
    </div>
    <div class="alert alert-danger" *ngIf="!canVote()">
      К сожалению вы не можете участвовать в этом {{isPoll? "опросе" : "голосовании"}} <br>
      Для голосования необходимо иметь как минимум {{poll.type === 'proposal' ? '2 уровень' : '5 статей'}}.
    </div>
  </div>
  <comments-short-list [subject]="poll">
  </comments-short-list>
</div>
