<div class="container-xl">
  <div class="block-header" *ngIf="obj">
    <div class="block-avatar">
      <img class="img-fluid img-thumbnail avatar" src="{{obj.flap.avatar}}">
    </div>
    <div class="block-main-info">
      <div class="avatar-wrapper-sm">
        <div class="avatar-sm hidden-xs-down hidden-md-up">
          <img class="img-fluid avatar" src="{{obj.flap.avatar}}">
        </div>
        <div>
          <h1 *ngIf="isMain()">{{obj.title}}</h1>

          <h1 *ngIf="!isMain()">
            <a routerLink="-main">{{obj.title}}</a>
          </h1>
          <subscribe [targetId]="obj.id"></subscribe>
          <div class="rating-container">
            <div class="big-star">
              {{obj.getRating() | fixed : 1}}
            </div>
            <div>
              Рейтинг: <strong>{{obj.getRating() | fixed : 1}}</strong>/10 | Отзывы:
              <strong>{{obj.getReviewsNumber()}}</strong>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="obj.isPlace()" class="contact-block">
        <div *ngIf="obj.getAddress()">
          <span class="text-muted">Адрес:</span> {{obj.getAddress()}}
        </div>
        <div *ngIf="obj.fields.phones">
          <span class="text-muted">Телефоны:</span> {{obj.fields.phones.join('; ')}}
        </div>
        <div>
          <span class="text-muted">ID:</span> {{obj.id}}
          <span *ngIf="obj.flap&&obj.flap.id">
          | <span class="text-muted">Флап ID:</span> <a
            href="http://xn--80avnr.xn--p1ai/%D0%BC%D0%BE%D1%81%D0%BA%D0%B2%D0%B0/%D0%BF%D0%BE%D0%B8%D1%81%D0%BA/{{obj.flap.id}}"
            target="_blank">
            {{obj.flap.id}}
          </a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="obj">
    <div class="btn-group btn-group-justified" role="group">
      <button type="button" class="btn btn-success" [routerLink]="getManageLink()">
        <i class="fa fa-briefcase"></i>
        Управлять страницей
      </button>
      <button type="button" class="btn btn-primary hidden-sm-down" [routerLink]="getLink('review')" disabled="isOwner()">Написать отзыв
      </button>
      <button type="button" class="btn btn-secondary hidden-sm-down" disabled>
        <i class="fa fa-pencil"></i>
        Редактировать
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
