@import "../../../../../css/variables";

router-outlet {
  margin-top: 1rem;
}

h1 {
  margin-bottom: 0;
}

.block-avatar {
  text-align: center;
}

.avatar {
  margin-top: 0.5rem;
  max-height: 15rem;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .block-header {
    display: flex;
    .block-avatar {
      width: 33%;
      max-width: 300px;
      max-height: inherit;
      align-self: center;
      margin-right: 1rem;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')-1) {
  .block-avatar {
  }
  .avatar {
    max-height: 15rem;
  }
}

@media (min-width: map-get($grid-breakpoints, 'sm')) and (max-width: map-get($grid-breakpoints, 'md')-1) {
  .block-avatar {
    display: none;
  }
  .avatar-wrapper-sm {
    display: flex;
    .avatar-sm {
      img {
        max-width: 5rem;
        max-height: 6rem;
      }
      align-self: center;
      margin-right: 0.5rem;
    }
  }
}

$local-color: $gray;
.rating-container {
  display: flex;
  align-items: center;
  color: $local-color;
  font-size: 0.9rem;
  strong {
    color: #000;
  }
  .big-star {
    $local-size: 48px;
    width: $local-size;
    height: $local-size;
    line-height: $local-size;
    text-align: center;
    background: url('/assets/img/object/star48.png');
    font-weight: bold;
    padding-top: $local-size / 48;
    font-size: 1rem;
    margin-right: 0.2rem;
    color: #000;
  }
}

.contact-block {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.images {
  display: flex;
  margin: 1rem 0;
  & > div {
    flex: auto;
    width: 200px;
    max-width: 900px;
    margin: auto 0.5rem auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}
