<div class="container-xl">
  <div class="block-header" *ngIf="obj">
    <div class="block-avatar">
      <img class="img-fluid img-thumbnail avatar" src="{{obj.flap.avatar}}">
    </div>
    <div class="block-main-info">
      <div class="avatar-wrapper-sm">
        <div class="avatar-sm hidden-xs-down hidden-md-up">
          <img class="img-fluid avatar" src="{{obj.flap.avatar}}">
        </div>
        <div>
          <h1 *ngIf="isMain()">{{obj.title}}</h1>

          <h1 *ngIf="!isMain()">
            <a routerLink="main">{{obj.title}}</a>
          </h1>

          <div class="rating-container">
            <div class="big-star">
              {{obj.flap.rating | fixed : 1}}
            </div>
            <div>
              Рейтинг: <strong>{{obj.flap.rating | fixed : 1}}</strong>/10 | Отзывы:
              <strong>{{obj.flap.reviewsNumber}}</strong>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="obj.isPlace()" class="contact-block">
        <div *ngIf="obj.getAddress()">
          <span class="text-muted">Адрес:</span> {{obj.getAddress()}}
        </div>
        <div *ngIf="obj.fields.phones">
          <span class="text-muted">Телефоны:</span> {{obj.fields.phones.join('; ')}}
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

