@import "../../../../css/variables";
.search-input {
  z-index: 0;
}
.navbar {
  padding-left: 3rem;
  background-color: $brand-secondary;
  border-bottom: 1px solid lighten($brand-secondary, 10);
  &.has-user {
    background-color: white;
    @media (max-width: map-get($grid-breakpoints, 'sm')-1) {
      //xs
      display: none;
    }

    .navbar-brand {
      color: #0087cf;
      &:hover {
        color: #005583;
      }
    }
  }
  &:not(.has-user) {
    .navbar-brand {
      color: #fff;
    }
    .nav-link {
      color: #fff;
    }
  }
}

.navbar-brand {
  float: none;
}

@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .navbar-brand {
    float: left;
    font-weight: bold;
  }
}

.navbar-btn {
  position: fixed;
  bottom: 80px;
  right: 12px;
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  text-align: center;
  color: white;
  font-size: 2rem;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  -webkit-transition: all .3s cubic-bezier(.55,0,.55,.2);
  transition: all .3s cubic-bezier(.55,0,.55,.2);
  -webkit-transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,transform;
  transition-property: background-color,box-shadow,transform,-webkit-transform;
  background: #ff6510;
}

.nav-user {
  padding: 0;
  .my-avatar {
    $value: 2.3rem;
    height: $value;
    width: $value;
    border: 2px solid lighten($brand-secondary, 10);
    border-radius: $value / 2;
  }
  .me-name {
    margin-left: 0.15rem;
    color: #0087cf!important;
    &:hover {
      color: #005583!important;
    }
  }
}

.fa-sign-out {
  width: 1em;
}

.navbar-nav .nav-avatar-item {
  float: left;
  margin-right: 0.4rem;
}

@media (max-width: map-get($grid-breakpoints, 'md')-1px) {
  .navbar-nav .nav-item.hidden-sm-down + .nav-item {
    margin-left: 0;
  }
}
.likes{
  color:#0087cf;
  font-size:1.7rem;

  &, &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
  .fa-heart{
    display: none;
  }
  .fa-heart-o{
    display: inline;
  }
}
.likes:hover{
  cursor:pointer;
  .fa-heart{
    display: inline;
  }
  .fa-heart-o{
    display: none;
  }
}

.search-form {
  margin-left: 15px;
  transition: all .3s ease;
  .search-input {
    transition: all .3s ease;
  }
}

#mainNavbar {
  @media (max-width: 834px) {
    &.search-active {
      .navbar-btn {
        width: 0px;
        border: none;
        padding-right: 0;
        padding-left: 0;
      }
    }
    &:not(.search-active) {
      .input-group-btn {
        .btn {
          border-radius: 0.25rem;
        }
      }
      .search-input {
        flex: 0;
        width: 0px;
        border: none;
        background: #ddddd;
        padding-left: 0px;
        padding-right: 0px;
      }
      .search-form {
        width: 50px;
      }
    }
  }
}
