@import "../../../../css/variables";

.navbar {
  background-color: $brand-secondary;
}

.navbar-brand {
  float: none;
}

@media (min-width: map-get($grid-breakpoints, 'sm')) {
  .navbar-brand {
    float: left;
  }
}
