<nav class="navbar navbar-dark">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#mainNavbar">
    &#9776;
  </button>
  <span class="brand-container">
    <a class="navbar-brand" [routerLink]=" ['/Home'] ">Флапер</a>
  </span>

  <div class="collapse navbar-toggleable-xs" id="mainNavbar">
    <a class="btn btn-primary btn-sm navbar-btn" [routerLink]="['/CreateStory']">Создать статью</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item" *ngIf="!userService.currentUser">
        <a class="nav-link" [routerLink]=" ['/Login'] "><i class="fa fa-sign-in"></i> Вход</a>
      </li>
      <li class="nav-item my-avatar-container" *ngIf="userService.currentUser">
        <img class="my-avatar" src="{{userService.currentUser.photo}}">
      </li>
      <li class="nav-item" *ngIf="userService.currentUser">
        <span class="nav-link">
        {{userService.currentUser.displayName}}
        </span>
      </li>
      <li class="nav-item" *ngIf="userService.currentUser">
        <a class="nav-link" (click)="logout()">
          <i class="fa fa-sign-out"></i> Выйти</a>
      </li>
    </ul>
  </div>
</nav>
