@import "../../../../css/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-secondary;
  border-bottom: 1px solid lighten($brand-secondary, 10);
  .navbar-section {
    align-items: center;
    display: flex;
    &.user-controls {
      flex: 3;
      justify-content: flex-end;
    }
    &.main-controls {
      flex: 5;
      justify-content: flex-start;
    }
  }
  .brand-container {
    min-width: 70px;
    .navbar-brand {
      .brand-long {
        display: inline;
      }
      .brand-short {
        display: none;
      }
      &.shortened {
        .brand-long {
          display: none;
        }
        .brand-short {
          display: inline;
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'sm')-1) {
    background-color: $brand-secondary;
    a:not(.dropdown-item) {
      color: #fff;
    }
  }
  @media (min-width: map-get($grid-breakpoints, 'sm')) {
    .navbar-brand {
      font-weight: bold;
    }
    //если пользователь авторизован --
    &.has-user {
      background-color: white;
      .navbar-brand {
        color: #0087cf;
        &:hover {
          color: #005583;
        }
      }
    }
    //если пользователь не авторизован --
    &:not(.has-user) {
      .navbar-brand, .nav-link {
        color: #fff;
      }
    }
  }



  &:after {
    display: none;
  }
}




.nav-user {
  padding: 0;
  .my-avatar {
    $value: 2.3rem;
    height: $value;
    width: $value;
    border: 2px solid lighten($brand-secondary, 10);
    border-radius: $value / 2;
  }
  .me-name {
    margin-left: 0.15rem;
    color: #0087cf!important;
    &:hover {
      color: #005583!important;
    }
  }
}

.fa-sign-out {
  width: 1em;
}

.navbar-nav .nav-avatar-item {
  float: left;
  margin-right: 0.4rem;
}

@media (max-width: map-get($grid-breakpoints, 'md')-1px) {
  .navbar-nav .nav-item.hidden-sm-down + .nav-item {
    margin-left: 0;
  }
}


.likes{
  color:#0087cf;
  font-size:1.7rem;

  &, &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
  .fa-heart{
    display: none;
  }
  .fa-heart-o{
    display: inline;
  }
}
.likes:hover{
  cursor:pointer;
  .fa-heart{
    display: inline;
  }
  .fa-heart-o{
    display: none;
  }
}
