@import "../../../../../css/variables";

h1 {
  margin-bottom: 0;
}

$local-color: $gray;
.rating-container {
  display: flex;
  align-items: center;
  color: $local-color;
  font-size: 0.9rem;
  strong {
    color: #000;
  }
  .big-star {
    $local-size: 48px;
    width: $local-size;
    height: $local-size;
    line-height: $local-size;
    text-align: center;
    background: url('/assets/img/object/star48.png');
    font-weight: bold;
    padding-top: $local-size / 48;
    font-size: 1rem;
    margin-right: 0.2rem;
    color: #000;
  }
}

.contact-block {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
