<div class="story-head">
  <div class="media">
    <user-avatar [id]="story.userId" class="media-left"></user-avatar>
    <div class="media-body">
      <div>
        <user-link [id]="story.userId"></user-link>
      </div>
      <div class="time">
        <span>{{story.created | amTimeAgo}}</span>
      <span *ngIf="showChangedTime()">
        (изменено {{story.updated | amTimeAgo}})
      </span>
      </div>
    </div>
  </div>
  <div *ngIf="acl.can('Story.write', story)">
    <a class="btn btn-secondary" [routerLink]="['/s',story.slug,'edit']"><i class="fa fa-pencil"></i>
      Редактировать</a>
    <post-actions class="active" [actions]="actions" [model]="story" (actionClicked)="actionEvent($event)"
                  *ngIf="acl.can('Story.write', story)"></post-actions>
  </div>
</div>
<h1>{{story.title}}</h1>
<div class='text-xs-left' *ngIf="story.type==='review'">
  <rating [display]="true" [numeric]="true" [rating]="story.rating"></rating>
</div>
<div [innerHtml]="story.contentHTML" class="contentHTML">
</div>
<div class="answer alert alert-success" *ngIf="story.answer">
  <h4>Ответ владельца:</h4>
  {{story.answer.contentHTML}}
</div>
<div class="story-footer">
  <like [subject]="story" [iconMode]="true"></like>
  <div id="story-share" data-services="vkontakte,odnoklassniki,moimir,facebook,gplus,twitter,viber,whatsapp"></div>
  <span title="Просмотров">
    <small><i class="fa fa-eye"></i></small>
    {{story.views + story.viewsRecent + 1}}</span>
</div>
<div class="mobile-story-footer">
  <div id="mobile-story-share"
       data-services="viber,whatsapp,vkontakte,odnoklassniki,moimir,facebook,gplus,twitter"></div>
</div>

<image-gallery [currentImage]="currentImage" (stateUpdated)="stateChanged($event)" [images]='story.images'></image-gallery>
