<div>
  <div class="story-item-header">
    <div class="media">
      <user-avatar [id]="story.userId" class="media-left"></user-avatar>
      <div class="media-body">
        <user-link [id]="story.userId"></user-link>
        <div class="time">{{story.created | amTimeAgo}}</div>
      </div>
    </div>
  </div>
  <a [routerLink]="['/Story', {slug: story.slug}]"><h3>{{story.title}}</h3></a>

  <div class="short-inline" *ngIf="story.shortInline" [innerHtml]="story.shortInline">
  </div>
  <div class="read-more">
    <a [routerLink]="['/Story', {slug: story.slug}]">Читать далее...</a>
  </div>
</div>
<div class="story-item-footer">
  <like [subject]="story"></like>
  <span (click)="onCommentIt()" class="comment-it">
    <i class="fa fa-comment"></i>
    <small>
      Комментировать
    </small>
  </span>
</div>
