@import "../../../../css/variables";

:host {
  display: block;
}

h3 {
  margin: 0;
}

.media {
  margin-bottom: 0;
}

.short-inline {
  white-space: pre-line;
}

.story-item-footer {
  .comments-number {
    margin-left: 1rem;
    color: $gray-light;
  }
}
