.user-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 2rem;
  align-items: center;
  align-content: space-around;
  &__info {
    text-align: right;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    max-width: calc(50% - 1rem);
    flex: 0.5 0.5 40%;
    align-items: center;
    margin: 0.5rem;
    user-link {
      display: inline-block;
      white-space: normal;
    }
    .stats {
      display: block;
    }
  }
}


.user-photo {
  max-width: 150px;
  max-height: 150px;
}
.close-button {
  float: right;
  border: none;
  padding: 1rem;
  background: transparent;
  outline: none;
}
