:host {
  display: block;
  .comment-header{
    display: flex;
    justify-content: space-between;
  }
  .time {
    font-size: 0.8rem;
  }
  .comment-content {
    white-space: pre-line;
    margin-top: 0.3rem;
    p:last-child{
      margin-bottom: 0;
    }
  }
  like {
    font-size: 0.9em;
  }
  .media {
    margin-bottom: 0;
  }
  .media-left {
    padding-right: 6px;
  }
}
