<div class="post" *ngIf="comment">
  <div class="comment-header">
    <div class="media">
      <div class="media-left">
        <user-avatar [id]="comment.userId" [size]="avatarSize"></user-avatar>
      </div>
      <div class="media-body">
        <div>
          <user-link [id]="comment.userId" hiddenStatsXs="true"></user-link>
        </div>
        <div class="time">{{comment.created | amTimeAgo}}</div>
      </div>
    </div>
    <post-actions (actionClicked)="actionEvent($event)" *ngIf="acl.can('Comment.write', comment)"
                  [model]="comment" [actions]="actions">
    </post-actions>
  </div>
  <div *ngIf="!updateMode">
    <div [innerHtml]="comment.contentHTML" class="comment-content">
    </div>
    <div>
      <like [subject]="comment"></like>
    </div>
  </div>
  <comment-write *ngIf="updateMode" [comment]="comment" (commentChange)="commentSaved()"
                 (updateCanceled)="updateMode = false">

  </comment-write>
</div>
