<div class="post" *ngIf="comment">
  <div class="comment-header">
    <div class="media">
      <div class="media-left">
        <user-avatar [userId]="comment.userId" [size]="avatarSize"></user-avatar>
      </div>
      <div class="media-body">
        <div>
          <user-link [userId]="comment.userId"></user-link>
        </div>
        <div class="time">{{comment.created | amTimeAgo}}</div>
      </div>
    </div>
    <post-actions (actionClicked)="actionEvent($event)" *ngIf="acl.can('Comment.write', comment)"></post-actions>
  </div>
  <div [innerHtml]="comment.contentHTML" class="comment-content">
  </div>
  <div>
    <like [subject]="comment"></like>
  </div>
</div>
