.like {
  color: $link-color;
  //font-size: 0.9em;
  cursor: pointer;
  .fa-heart {
    display: none;
  }
  &:hover, &.active {
    font-weight: bold;
    .fa-heart {
      display: inline;
    }
    .fa-heart-o {
      display: none;
    }
  }
}
