.like {
  //color: $link-color;
  color: $gray-light;
  small {
    font-weight: bold;
  }
  //font-size: 0.9em;
  cursor: pointer;
  .fa-heart {
    display: none;
  }
  &:hover{
    .text-like {
      text-decoration: underline;
    }
  }
  &.active{
    .fa-heart {
      display: inline;
    }
    .fa-heart-o {
      display: none;
    }
  }
}
