.like {
  color: $gray-light;
  small {
    font-weight: bold;
  }
  cursor: pointer;
  .fa-heart {
    display: none;
  }

  &:not(.icon-mode) {
    &:hover {
      .text-like {
        text-decoration: underline;
      }
    }
    &.active {
      .fa-heart {
        display: inline;
      }
      .fa-heart-o {
        display: none;
      }
    }
  }

  &.icon-mode {
    color: $link-color;
    &:hover, &.active {
      font-weight: bold;
      .fa-heart {
        display: inline;
      }
      .fa-heart-o {
        display: none;
      }
    }
  }
}
