:host {
  display: block;
  height: 100%;
}
.absolute-wrapper{
  display: block;
  height: 100%;
  &.has-message {
    min-height: 30rem;
  }
}
.absolute-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-btns {
  max-width: 30rem;
  .btn-social {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.btn-mail {
  color: #fff;
  $local-background: #195592;
  background-color: $local-background;
  border-color: rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: darken($local-background, 6);
  }
}
