<div class="right-column">
  <div>
    <h4 class="text-xs-center">Призы</h4>

    <div class="list-wrapper">
      <ul>
        <li>1 место - 100 баллов</li>
        <li>2 место - 70 баллов</li>
        <li>3 место - 50 баллов</li>
      </ul>
    </div>
    <div class="text-xs-right">
      <a [routerLink]="['/Story', {slug: 'Баллы'}]">Подробнее...</a>
    </div>
  </div>
  <div *ngIf="winners && winners.length && stories" class="winners">
    <h4 class="text-xs-center">Победители прошлой недели:</h4>

    <div *ngFor="#winner of winners">
      <div *ngIf="stories[winner.id]">
        <strong>{{winner.place}}. </strong>
        <a [routerLink]="['/Story', {slug: stories[winner.id].slug}]">
          <span>{{stories[winner.id].title}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="left-column">
  <h2 class="text-xs-center">Лучшие статьи</h2>
  <stories-auto-list order="numberOfLikes DESC" [where]="where" *ngIf="where">

  </stories-auto-list>
</div>
