@media screen {
  .preload {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preload-text {
    display: flex;
    animation: rotate 2s infinite;
    font-size: 120px;
    font-weight: 800;
    color: #ff6510;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
}
body.modal-open {
    overflow: visible;
}
