<div class="ml" [class.ml-toggle]="hasToggle()">
  <div class="ml-header">
    <span class="pull-xs-right hidden-xs-down" (click)="toggle()"><i class="fa fa-bars"></i></span>
    <span class="hidden-sm-up">
        <span (click)="toggleSm()"><i class="fa fa-bars"></i></span>
        <a class="navbar-brand" (click)="_page.navigateToDefault()">
          <small>Флапер</small>
        </a>
        <a class="btn btn-primary btn-sm" routerLink="/p/create_story">Создать статью</a>
        <img class="pull-xs-right my-avatar" src="{{_user.currentUser.photo}}"
             [routerLink]="['/u', _user.currentUser.id]">
    </span>
  </div>
  <ul class="nav nav-pills nav-stacked mobile-collapsed" id="ml-items">
    <li class="nav-item" *ngIf="acl.isSales()">
      <a class="nav-link" routerLink="/p/manageSupport">
      <span class="icon-container text-xs-center">
        <i class="fa fa-question-circle">
        </i>
      </span>
      <span class="label">
         Админка Поддержки
      </span>
      </a>
    </li>
    <li class="nav-item" *ngIf="_user.currentUser.extra.hasPremiumSupport()">
      <a class="nav-link" routerLink="/p/support">
      <span class="icon-container text-xs-center">
        <i class="fa fa-question">
        </i>
      </span>
      <span class="label">
         Премиум Поддержка
      </span>
      </a>
    </li>
    <li class="nav-item" *ngFor="let objectId of _user.currentUser.extra.getObjects()">
      <a class="nav-link" [routerLink]="_object.getRouteById(objectId)" *ngIf="_object.$getById(objectId)">
          <span class="icon-container text-xs-center">
            <i class="fa fa-briefcase">
            </i>
          </span>
          <span class="label">
            {{_object.$getById(objectId).title}}
          </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/u', _user.currentUser.id]">
      <span class="icon-container text-xs-center">
        <i class="fa fa-user">
        </i>
      </span>
      <span class="label">
          Моя страница
      </span>
      </a>
    </li>
    <li *ngFor="let item of items" class="nav-item">
      <a class="nav-link" [routerLink]="item.route">
      <span class="icon-container text-xs-center">
        <i class="{{item.iconClass}}"></i>
      </span>
        <span class="label">{{item.label}}</span>
      </a>
    </li>
    <li class="hidden-sm-up nav-item">
      <a class="nav-link" (click)="logout()">
        <span class="icon-container text-xs-center">
          <i class="fa fa-sign-out"></i>
        </span>
        <span class="label">
          Выход
        </span>
      </a>
    </li>
  </ul>
</div>
