<div class="ml-container">
  <div class="ml">
    <div class="ml-header">

      <div class="brand-container hidden-xs-down">
        <a class="navbar-brand" (click)="_page.navigateToDefault()">
          <!-- <img class="logo" src="/assets/img/logo.png"/> -->
          <span class="brand-long">Флап</span>
          <span class="brand-short">Ф</span>
        </a>
      </div>

    </div>
    <ul class="nav nav-pills nav-stacked mobile-collapsed" id="ml-items">
      <li class="nav-item" *ngFor="let menuItem of _menu.getFlaperMenu()">
        <a class="nav-link" *ngIf="menuItem.routerLink" [routerLink]="menuItem.routerLink">
        <span class="icon-container text-xs-center">
          <i [class]="menuItem.iconClass">
          </i>
        </span>
        <span class="label">
           {{menuItem.title}}
        </span>
        </a>
      </li>
      <li class="nav-item" *ngIf="_user.currentUser">
        <a class="nav-link" (click)="logout()">
          <span class="icon-container text-xs-center">
            <i class="fa fa-sign-out">
            </i>
          </span>
          <span class="label">
            Выход
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
