@import "../../../../css/variables";

$local-menu-min-width: 4rem;
$local-menu-max-width: 12rem;
$local-border: 1px solid lighten($brand-secondary, 10);
.logo {
  max-width: 3rem;
  max-height: 2.5rem;
  display: inline;
}
@mixin big-left-collapsed {
  width: $local-menu-min-width;
  .ml-header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-pills .nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    .label {
      display: none;
    }
  }
}

:host {
  flex-shrink: 0;
  display: flex;
}

.navbar-brand {
  float: none;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
  color: #fff!important;
}

.my-avatar {
  $value: 2.3rem;
  height: $value;
  width: $value;
  border: 2px solid lighten($brand-secondary, 10);
  border-radius: $value / 2;
  cursor: pointer;
}
.ml-container {
  width: $local-menu-max-width;
  top:0;
  bottom: 0;
  background-color: $brand-secondary;
  @media (max-width: 990px) {
    display: none;
  }
}
.ml {
  position: fixed;
  .ml-header {
    height: 3.5rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    width: calc(100% + 1px);
    font-size: 1rem;
    .brand-container {
      text-align: center;
      .navbar-brand {
        color: $brand-primary!important;
        font-size: 1.7rem;
        font-weight: 800;
        .brand-short {
          display: none;
        }
      }
    }
  }
  background-color: $brand-secondary;
  width: $local-menu-max-width;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: $local-border;
  .nav-pills {
    overflow: hidden;
    .nav-item {
      margin-top: 0;
      transition: $transition-all;
      border-bottom: $local-border;
      &:hover {
        background-color: darken($brand-secondary, 10);
      }
      .nav-link {
        color: #fff;
        white-space: nowrap; //not take 2 lines while toggling
        overflow: hidden;
        .icon-container {
          display: inline-block;
          width: 1rem;
        }
        .label {
          display: inline-block;
          padding: .25em .4em;
          font-size: 75%;
          font-weight: 700;
          line-height: 1;
          color: #fff;
          text-align: center;
          white-space: nowrap;
          vertical-align: baseline;
          border-radius: .25rem;
        }
        &.nav-user {
          font-size: 1.1rem;
          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
    .nav-item:first-child {
      border-top: $local-border;
    }

  }

  transition: $transition-all;
}
.search-form , .navbar-btn, .search-input{
  transition: all .3s ease;
  display: inline-block;
  vertical-align: middle;
}
.navbar-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 20;
  min-width: 0;
  line-height: 56px;
  width: 56px;
  height: 56px;
  font-size: 2rem;
  text-align: center;
  color: white;
  vertical-align: middle;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  -webkit-transition: all .3s cubic-bezier(.55,0,.55,.2);
  transition: all .3s cubic-bezier(.55,0,.55,.2);
  -webkit-transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,-webkit-transform;
  transition-property: background-color,box-shadow,transform;
  transition-property: background-color,box-shadow,transform,-webkit-transform;
  background: #ff6510;
}
