<div>
  <h2 class="text-xs-center">Управление страницей</h2>
  <div class="alert alert-info">
    Консультации и решение проблем осуществляются через <a routerLink="/p/support/premium">Премиум Поддержку</a>.
  </div>
  <div class="feature">
    <h3>Плохие отзывы?</h3>
    Вы можете <a routerLink="../-hide">скрыть страницу</a> от поисковых систем.
  </div>
  <h3>Управляющие страницей:</h3>
  <ul class="mod-list">
    <li *ngFor="let user of moderators">
      <img [src]="user.photo" alt="Аватар" class="avatar"/>
      <a [routerLink]='["/u",user.id]'>{{user.displayName}}</a>
      <button type="button" class="btn btn-danger" (click)="removeFromModerators(user)">
        <i class="fa fa-times"></i> Удалить
      </button>
    </li>
  </ul>
  <user-search (usersFound)="whenFound($event)" class="col-xs-4"></user-search>
  <div class="row" *ngFor="let user of foundUsers">
    <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2">
      <!-- <img class="avatar" [src]="user.photo" alt="{{user.displayName}}"/> -->
      <user-avatar [id]="user.id"></user-avatar>
    </div>
    <div class="col-lg-2 col-lg-2 col-sm-4 col-xs-4">
      {{user.displayName}}
      <br>
      <span class="counter" titile='Количество статей'>
        <i class="fa fa-book"></i> {{user.storiesNumber}}
      </span>
      <span class="counter" titile='Количество лайков'>
        <i class="fa fa-thumbs-o-up"></i> {{user.likesNumber}}
      </span>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2">
      <button type="button" name="button" (click)="addAsModerator(user)" class="btn btn-default">
        <i class="fa fa-flash"></i>
        Сделать управляющим
      </button>
    </div>
  </div>

</div>
