$background-color : #26ae93;
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(50,50,50,1);
  // display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: center;
  transition: all .3s ease;
  &.hidden {
    display: none;
  }
}
.modal-close-icon {
  background: #333;
  border-radius: 3px;
  padding: 3px 5px 5px 5px;
  display: block;
  position: fixed;
  right: 25px;
  top: 25px;
  color: white;
  font-style: normal;
  cursor: pointer;
  z-index: 5;
}
.gallery-container {
  height: 100vh;
  // border-radius: 10px;
  // display: flex;
  // height: 80vh;
  // width: 80vw;
  // max-width: 90vw;
  // max-height: 90vh;
  background: #333;
  box-shadow: inset 0px 0px 15px -5px #000;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
}
.image-section {
  height: 100vh;
  // width: 100%;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  // align-content: center;
}
.image-control {
  display: flex;
  width: 10%;
  height: 100vh;
  align-items: center;
  justify-content:center;
  transition: all .3s ease;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  z-index: 3;
  &:hover {
    color: white;
    text-shadow: 0px 0px 3px #000;
    font-weight: 800;
  }
  &--left:hover {
    box-shadow: inset 27px 0px 48px -31px #ddd;
  }
  &--right:hover {
    box-shadow: inset -27px 0px 48px -31px #ddd;
  }
  &>i {
    font-style: normal;
    display: flex;
    max-width: 50px;
    max-height: 50px;
    align-content: center;
  }
}
.image-container {
    display: flex;
    width: 100%;
    margin: 0px -10%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    display: inline-block;
    z-index: 1;
  & img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    vertical-align: middle;
    box-shadow: 0px 0px 5px -1px #333;
  }
}
.image-like-container {
  position: absolute;
  line-height: 0px;
  text-align: center;
  width: 100%;
  bottom: 10px;
  left:0;
  display: inline-block;
}
.comment-section {
  background: rgba(232,232,232,1);
  // width: 30vw;
  height: 100vh;

  // box-shadow: inset 2px 0px 5px -3px #333;
}
