.btn-group {
  margin-top: 0.5rem;
}

.images {
  display: flex;
  margin: 1rem 0;
  & > div {
    flex: auto;
    width: 200px;
    max-width: 900px;
    margin: auto 0.5rem auto;
    img {
      width: 100%;
      height: auto;
      max-width: 400px;
      max-height: 250px;
    }
  }
}

.img-thumbnail {
  cursor: pointer;
}

.reviews-container {
  max-width: 1140px;
}
