<div class="btn-group btn-group-justified" role="group">
  <button type="button" class="btn btn-success" [routerLink]="['ManageRequest']">
    <i class="fa fa-briefcase"></i>
    Управлять страницей
  </button>
  <button type="button" class="btn btn-primary hidden-sm-down" disabled>Написать отзыв</button>
  <button type="button" class="btn btn-secondary hidden-sm-down" disabled>
    <i class="fa fa-pencil"></i>
    Редактировать
  </button>
</div>
<div *ngIf="images.length > 0" class="images hidden-sm-down">
  <div *ngFor="let image of images">
    <img class="img-thumbnail" src="{{image | flapImage}}">
  </div>
</div>

