
  <div class="modal-content">
    <button type="button" class="close-button" name="button" (click)="close()">
      <i class="fa fa-close" ></i>
    </button>
    <div class="alert text-xs-center" *ngIf="userList.length === 0">
      У этой записи нет лайков
    </div>
    <ul class='user-list' *ngIf="userList.length > 0">
      <li class='user-list__item' *ngFor="let user of userList">
        <img [src]="user.photo" class="user-photo" alt="" />
        <a [routerLink]="['/u',user.id]" (click)="close()">
          {{user.displayName}}
        </a>
      </li>
    </ul>
  </div>
