@import "../../../../../css/variables";

story-item {
  margin: 0 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-lighter;
  }
}

.story-item-container {
  padding: 0.5rem 0;
}

comments-short-list {
  margin-left: 2rem;
}
