<div class="story-head">
  <div class="story-head-left">
    <div>
      <user-link [userId]="story.userId"></user-link>
    </div>
    <div class="time">
      <span>{{story.created | amTimeAgo}}</span>
      <span *ngIf="showChangedTime()">
        (изменено {{story.updated | amTimeAgo}})
      </span>
    </div>
  </div>
  <div *ngIf="acl.can('Story.write', story)">
    <a class="btn btn-secondary" [routerLink]="['/WriteStory', {slug: story.slug}]"><i class="fa fa-pencil"></i>
      Редактировать</a>
  </div>
</div>
<h1>{{story.title}}</h1>

<div [innerHtml]="story.contentHTML">
</div>
