.fa-chevron-down, .fa-chevron-up {
  font-size: 1.4rem;
  cursor: pointer;
  color: $gray-200;
  transition: $transition-all;
}

.post:hover, post-actions.active {
  .fa-chevron-down, .fa-chevron-up {
    transition: none;
    color: $gray-600;
  }
}

.post-actions-widget {
  background-color: white;
  border: 1px solid $gray-800;
  padding: 0.1rem 0;
  box-shadow: 0 0 2px $gray-800;
  .post-action {
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: $brand-secondary;
    }
  }
}

.time {
  color: $gray-600;
}
