a {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.65rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.4rem;
  }
}

//h1, h2, h3, h4, h5, h6 {
//  margin: 0.5em 0;
//}
