<h2>Операции</h2>
<div *ngIf="transactions !== null">
  <div class="alert alert-info" *ngIf="transactions.length === 0">Еще нет операций</div>
  <div class="table-responsive" *ngIf="transactions.length">
    <table class="table table-bordered table-striped">
      <thead>
      <th>Сумма</th>
      <th>Оператор</th>
      <th>Дата</th>
      <th>Комментарий</th>
      </thead>
      <tbody>
      <tr *ngFor="let t of transactions">
        <td>{{(user.id === t.toId) ? t.amount : -t.amount}}</td>
        <td>
          <user-link [id]="t.operatorId" [stats]="false" *ngIf="t.operatorId != '0' "></user-link>
        </td>
        <td>{{t.created | amDateFormat: 'LL'}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
