@import "../../../../css/variables";

:host {
  display: block;
  margin-top: 1rem;
  .user-media {
    display: flex;
    align-items: center;
    img {
      max-height: 10rem;
      max-width: 10rem;
      @media (max-width: map-get($grid-breakpoints, 'sm')) {
        max-width: 4rem;
        padding: 0.1rem;
      }
    }
    .media-body {
      align-self: flex-start;
    }
  }
}
