<form class="form" [formGroup]="form" (submit)="onSubmit()" [class.compact]="compact" [class.active]="active" *ngIf="isVisible()">
  <div class="input-container">
    <div class="user-avatar hidden-xs-down">
      <img src="{{_user.currentUser.photo}}" class="img-35">
    </div>
    <fieldset class="form-group">
      <textarea formControlName="content" placeholder="{{canAnswerAsOwner() ? 'Официальный объект' : 'Новый комментарий' }}" class="form-control" rows="{{compact ? 1 : 2}}"
                (focus)="onFocus()" (blur)="onBlur()"
                autosize></textarea>
    </fieldset>
  </div>

  <button type="submit" (click)="onSubmit()" class="btn btn-primary btn-sm" [disabled]="disabled"
          *ngIf="!compact || active">{{newComment ?
    'Сказать' : 'Сохранить'}}
  </button>
  <button type="button" class="btn btn-link btn-sm" *ngIf="!newComment" (click)="updateCanceled.emit(true)">Отменить
  </button>
</form>
