<div class="row" *ngFor="let user of users">
  <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2">
    <img [src]="user.photo" alt="{{user.displayName}}" />
  </div>
  <div class="col-lg-1 col-md-1 col-xs-2 col-sm-2">
    <span class="counter" titile='Количество статей'>
      <i class="fa fa-book"></i> {{user.storiesNumber}}
    </span>
    <span class="counter" titile='Количество лайков'>
      <i class="fa fa-thumbs-o-up"></i> {{user.likesNumber}}
    </span>
  </div>
  <div class="col-lg-10 col-lg-10 col-sm-8 col-xs-8">
    {{user.displayName}}
  </div>
</div>
