<div>
  <div class="story-item-header">
    <div class="media">
      <user-avatar [id]="story.userId" class="media-left"></user-avatar>
      <div class="media-body">
        <user-link [id]="story.userId"></user-link>
        <div class="time">{{story.created | amTimeAgo}}</div>
        <div *ngIf="story.type==='review'">
          <rating [display]="true" [numeric]="true" [rating]="story.rating" ></rating>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isReview()">
    <h3>
      <small>Про</small>
      <a [routerLink]="getRouterLink()"> {{objectName}}</a>
      <br>
      <h4>{{story.title}}</h4>
    </h3>
  </div>
  <div *ngIf="!isReview()">
    <a [routerLink]="getRouterLink()"><h3>{{story.title}}</h3></a>
  </div>
  <div *ngIf="story.tags && story.tags.length > 0" class='tagline'>
    <label>Тэги:</label>
    <a [routerLink]="['/t',tag]" class="tag tag-default" *ngFor="let tag of story.tags">{{tag}}</a>
  </div>
  <div class="short-inline" *ngIf="story.shortInline" [innerHtml]="story.shortInline">
  </div>
  <div class="answer" *ngIf="story.answer">
    <span class="heading">Ответ: </span>{{story.answer.contentHTML}}
  </div>
  <div class="read-more">
    <a [routerLink]="getRouterLink()">Читать далее...</a>
  </div>
</div>
<div class="story-item-footer">
  <like [subject]="story"></like>
  <span (click)="onCommentIt()" class="comment-it">
    <i class="fa fa-comment"></i>
    <small>
      Комментировать
    </small>
  </span>
</div>
