@import "../../../../../css/variables";

:host {
  display: block;
  max-width: 100%;
}

h3 {
  margin: 0;
}

.media {
  margin-bottom: 0;
}

.short-inline {
  white-space: pre-line;
}
.tagline{
  .tag {
    margin: 0 3px;
  }
}
.story-item-footer {
  margin-top: 0.3rem;
  padding: 0.3rem 0.5rem;
  border-top: 1px solid #ddd;
  color: $gray-light;
  font-weight: bold;
  $local-margin: 1.5rem;
  small {
    font-weight: bold;
  }
  .comments-number {
    margin-left: $local-margin;
    color: $gray-light;
  }
  .comment-it {
    margin-left: $local-margin;
    &:hover {
      small {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.read-more {
  margin-top: 0.3rem;
}
.answer {
  color: #23562d;
  & span.heading {
    font-size: 1.15rem;
    font-weight: 700;
    color: #2a7b39;
  }
}
