nav {
  text-align: center;
  width: 100%;
}
a.disabled, a.disabled:hover {
  color: #fff;
}
.changes-list {
  list-style: none;
  width: 100%;
  padding: 0.5rem;
  margin: 0;

  & .change-record {
    label {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 1.15rem;
    }

    & .not-changed-field {
      text-align: center;
      font-size: 0.9rem;
      font-weight: 400;
    }

    & .changed-field {
      display: flex;

      & .change-value {
        vertical-align: top;
        width: calc(50% - 2px);
        border: 0;
        box-sizing: border-box;
        display: inline-block;
        font-size: 0.9rem;
        padding: 0.5rem;

        &:first-of-type {
          border-right: 1px solid lightblue;
        }

        &:last-of-type {
          border-left: 1px solid lightblue;
        }
      }
    }
  }
}

.history-item {
  width: 80%;
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 20px;
}

.page-link {
  &.active {
    background: lightblue;
    color: white;
  }
}

.history-list {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}
