@import "../../../../../css/variables";

:host {
  display: block;
  margin-top: 1rem;
  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    margin-top: 0.5rem;
  }
}

.user-media {
  display: flex;
  align-items: center;
  img {
    max-height: 10rem;
    max-width: 10rem;
    @media (max-width: map-get($grid-breakpoints, 'sm')) {
      max-width: 4rem;
      padding: 0.1rem;
    }
  }
  .media-heading {
    margin-bottom: 0;
  }
  .media-body {
    align-self: flex-start;
  }
}

nav {
  margin-top: 0.5rem;
}

.stats {
  i {
    margin-right: -0.1rem;
  }
  .stories-number {
    margin-right: 0.2rem;
  }
}

.btn-withdraw {
  text-decoration: none;
  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
